.search-wrap {
    flex-direction: column;
    padding: 5% 0;

    @include sp {
        height: calc(100% - $HEADER_Ht);
    }
}

.home-icon {
    @include sp {
        width: 70%;
    }

    width: 25%;
    margin-bottom: 20px;
}