#app {
    height: 100%;
}

.background {
    background-color: white;
}

.btn {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;

    &:hover {
        color: white;
    }
}

.error-message {
    color: red;
    font-size: 12px;
}

.warning {
    font-size: 12px;
}

.text-center {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer{
    cursor: pointer;
}