// media
$BREAKPOINT_TABLET: 1100px;
$BREAKPOINT_MOBILE: 780px;
$BREAKPOINT_PC_WIDE: 1800px;

// height
$HEADER_Ht:65px;

// colors
$GREEN: #006f37;
$YELLOW_GREEN: #37ad63;
$RED: #a71700;
$BLUE: #2244db;
$YELLOW: #fcd356;
$GRAYISH_WHITE: #f0f0f0f0;
$HOVER_WHITE:#cecece;
$DISABLE:#8d8d8d8d