// media
$BREAKPOINT_TABLET: 1100px;
$BREAKPOINT_MOBILE: 780px;
$BREAKPOINT_PC_WIDE: 1800px;

// height
$HEADER_Ht:65px;

// font-size
$FONT_SIZE:14px;

// colors
$BLACK: #000;
$GREEN: #006f37;
$YELLOW_GREEN: #37ad63;
$RED: #a71700;
$BLUE: #2244db;
$YELLOW: #fcd356;
$WHITE: #f4f3ef;
$GRAYISH_WHITE: #cecece;
$DISABLE:#8d8d8d8d;