.background {
  background-color: #f4f3ef;
}

.btn {
  color: #f4f3ef;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}
.btn:hover {
  color: #f4f3ef;
}

.error-message {
  color: red;
  font-size: 12px;
}

.warning {
  font-size: 12px;
}

.text-center {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 18px;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-size: 16px;
  font-family: "BIZ UDGothic";
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}
a:active {
  color: #000;
}
a:focus {
  outline: none;
}
a:hover {
  color: #000;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 780px) {
  main .btn {
    width: 100%;
  }
}
main .btn-register {
  background: #37ad63;
  display: block;
  margin: 30px auto 0 auto;
  width: 50%;
}
main .btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  border: 0.5px solid #000;
  border-radius: 5px;
  padding: 0 8px;
  background-color: #fff;
  width: 100%;
}
main .btn-google-img {
  width: 25px;
  position: absolute;
  left: 15px;
}
main .btn-google-text {
  font-family: "Roboto", sans-serif;
}

.content-wrap-sm {
  width: 35%;
  padding-top: 30px;
  margin: 0 auto;
}

.content-wrap-lg {
  margin: 0 30px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 5px;
  outline-color: #37ad63;
  border: 1px solid #000;
  border-radius: 5px;
}
.input-wrap:nth-of-type(n+2) {
  margin-top: 20px;
}
.input-title {
  margin-bottom: 5px;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  background-color: #cecece;
  height: 65px;
  border-bottom: 1px solid #cecece;
  position: relative;
}
header .icon {
  width: 180px;
}
header .icon-wrap {
  margin-left: 30px;
  margin-right: 30px;
  width: 180px;
}
header .btn {
  color: #f4f3ef;
  margin-right: 10px;
}
header .btn:hover {
  color: #f4f3ef;
}
header .btn-wrap {
  display: flex;
  position: absolute;
  right: 0px;
}
header .btn-login {
  background: #fcd356;
}
header .btn-register {
  background: #37ad63;
}
header .btn-disable {
  background-color: rgba(141, 141, 141, 0.5529411765);
  pointer-events: none;
}

.search-wrap {
  flex-direction: column;
  padding: 5% 0;
}
@media screen and (max-width: 780px) {
  .search-wrap {
    height: calc(100% - 65px);
  }
}

.home-icon {
  width: 25%;
  margin-bottom: 20px;
}
@media screen and (max-width: 780px) {
  .home-icon {
    width: 70%;
  }
}

.auth-input-wrap {
  width: 100%;
  margin-bottom: 10px;
}
.auth-input {
  position: relative;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 8px;
  margin-top: 10px;
  background-color: #fff;
  width: 100%;
}
.auth-input:focus {
  outline: 1px solid #37ad63;
}

.news-wrap {
  border-bottom: solid 1px #cecece;
  min-height: 60px;
}
.news-content {
  width: 85%;
  margin: 10px 0;
}
.news-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.news-icon-wrap {
  width: 15%;
}
.news-time-wrap {
  margin-top: 5px;
}
.news-time {
  color: #585858;
  font-size: 14px;
}

.side-menu {
  width: 20%;
  padding-top: 30px;
  padding-right: 30px;
  border-right: 1px solid #cecece;
}
.side-title {
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #fcd356;
  color: #fff;
}
.side-list-title {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #cecece;
  position: relative;
}
.side-list-title:hover {
  border-left: 5px solid #37ad63;
}
.side-list-title::after {
  position: absolute;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  content: "\f0d7";
  font-weight: bold;
}

.product-list-wrap {
  padding-top: 30px;
  padding-left: 30px;
  width: 80%;
}
.product-list {
  flex-wrap: wrap;
}
.product-wrap {
  flex-direction: column;
  width: calc(25% - 20px);
  margin: 0 10px 20px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
.product-wrap:hover {
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}
.product-img-wrap {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  background-color: #e5e5e5;
}
.product-img {
  height: 200px;
}
.product-title {
  margin-bottom: 10px;
}
.product-text-content {
  width: 100%;
  padding: 15px;
}
.product-price {
  width: fit-content;
  background-color: #37ad63;
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
}

.btn-search {
  padding: 8px 10px 8px 10px;
  background-color: #006f37;
}

.search-form .main {
  width: 65%;
}
.search-group {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 780px) {
  .search-group {
    align-items: center;
    flex-direction: column;
  }
}
.search-input {
  padding: 8px 10px 8px 10px;
  background-color: #f4f3ef;
  border: 1px solid #000;
  border-radius: 30px;
  margin-right: 5px;
}
.search-input:focus {
  outline: 1.5px solid #37ad63;
}
@media screen and (max-width: 780px) {
  .search-input {
    margin-bottom: 15px;
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
