.btn-search {
    padding: 8px 10px 8px 10px;
    background-color: $GREEN;
}

.search {

    &-form .main {
        width: 65%;
    }

    &-group {
        display: flex;
        justify-content: center;

        @include sp {
            align-items: center;
            flex-direction: column;
        }
    }

    &-input {
        padding: 8px 10px 8px 10px;
        background-color: $WHITE;
        border: 1px solid $BLACK;
        border-radius: 30px;
        margin-right: 5px;

        &:focus {
            outline: 1.5px solid $YELLOW_GREEN;
        }

        @include sp {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}