main {
  .btn {
    @include sp {
      width: 100%;
    }

    &-register {
      background: $YELLOW_GREEN;
      display: block;
      margin: 30px auto 0 auto;
      width: 50%;
    }

    &-google {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      border: 0.5px solid $BLACK;
      border-radius: 5px;
      padding: 0 8px;
      background-color: #fff;
      width: 100%;

      &-img {
        width: 25px;
        position: absolute;
        left: 15px;
      }

      &-text {
        font-family: 'Roboto', sans-serif;
      }
    }
  }

}

.content-wrap-sm {
  width: 35%;
  padding-top: 30px;
  margin: 0 auto;
}

.content-wrap-lg {
  margin: 0 80px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px 5px;
  outline-color: $YELLOW_GREEN;
  border: 1px solid $BLACK;
  border-radius: 5px;

  &-wrap {
    &:nth-of-type(n+2) {
      margin-top: 20px;
    }
  }

  &-title {
    margin-bottom: 5px;
    font-weight: bold;
  }
}